[Desktop Entry]
Comment=mix of shadowed and glassified to produce a clean interface by stonebit, remastered for KDE Plasma 5
Name=Unity-Evolution

X-KDE-PluginInfo-Author=joseskvolpe
X-KDE-PluginInfo-Email=joseskvolpe@gmail.com
X-KDE-PluginInfo-Name=Unity-Evolution
X-KDE-PluginInfo-Version=2.5
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
